
<html>
  <head>
    <title>Уведомление</title>
    {% comment %} <script src="{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script> {% endcomment %}
  </head>
  <body>
    <h1>Уведомление Объявлений</h1>
    <p>Notifications</p>
    <ul id="notifylist"></ul>
    <script>
        const webSocketBridge = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/notification/ad/{{user.city}}/'
                
        );
        const nl = document.querySelector("#notifylist");
      

        webSocketBridge.onmessage = function(e) { // { type: "user.gossip", event: "New User", username: "Vlad134346" }
            const data = JSON.parse(e.data);
            console.log('data ---> ', data)

            if (data.message_to_room.event == "Create ad") {
                var el = document.createElement("li");
                el.innerHTML = `Новое объявление под названием: <b>${data.message_to_room.ad_title}</b> было создано, пользователем: <b>${data.message_to_room.username}</b>`;
                nl.appendChild(el);
            } else if (data.message_to_room.event == "Ad published" && data.message_to_room.username === "{{user.username}}") {
                var el = document.createElement("li");
                el.innerHTML = `Объявление: <b>${data.message_to_room.ad_title}</b> было успешно опубликованно`;
                nl.appendChild(el);
            }
        };
    </script>
  </body>
</html>